.page {
  min-height: calc(100vh - 24px);
  padding-bottom: 24px;
  max-width: 620px;
  margin: auto;
}

.title {
  font-size: 48px;
  text-align: center;
  padding: 40px;
}

.text {
  padding: 0 20px;
  font-size: 22px;
  text-align: justify;
  white-space: pre-wrap;
}

.context {
  font-style: italic;
  padding: 20px;
}

.button {
  font-size: 20px;
  width: calc(100% - 48px);
  margin: 20px 20px 0 20px;
  height: 40px;
  border: 2px solid #b17a6c;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  background-color: #f5f0eb;
  font-family: "EB Garamond";
}

.input {
  font-size: 19px;
  width: calc(100% - 48px);
  margin: 20px 20px 0 20px;
  height: 30px;
  border: 2px solid #b17a6c;
  border-radius: 8px;
  line-height: 30px;
  text-align: center;
}

input::placeholder {
  opacity: 0.5;
  font-style: italic;
}

.input:focus {
  outline: 1px solid #b17a6c;
}
